
@{
    ViewBag.Title = "GioiThieu_63135901";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>THÔNG TIN SINH VIÊN</h1>
<br />
<p>Mã sinh viên: 63135901</p>
<br />
<p>Họ tên sinh viên: Trần Hoàng Trọng</p>
<br />
<p>Lớp: 63.CNTT-CLC1</p>
<br />
<p>Ngày kiểm tra: 1/1/1/1</p>

