
@{
    ViewData["Title"] = "Admin Index";
    Layout = "~/Areas/Admin_63135901/Views/Shared/_AdminLayout63135901.cshtml";
}
<h1>Men have 3 moods</h1>
<img style="height:500px; width:500px" src="~/Adminassets/images/others/angryJack.gif" />
<img style="height:500px; width:500px" src="~/Adminassets/images/others/sadJackgif.gif" />
<img style="height:500px; width:500px" src="~/Adminassets/images/others/BlackJack.gif" />
